:root {
    --header-height: 3rem;
    /* COLORS */
    --main-color: #1D2521;
    --secondary-color:#6c63ff;
    /* --text-color: #C7D1CC; */
    --text-color: #1D2521;
}

    /* todo = STEPS STYLING */
.steps-container {
    /* background-color: pink; */
    margin-top: calc(var(--header-height) + 20px);    /* 20px is padding of header */
    padding: 15px;
    padding-right: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 0.90rem;
}

.number {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #eaebeb;
    border-radius: 100px;
    color: #3a3e47;
    font-weight: 600;
    margin-right: 18px;
    text-align: center;
    line-height: 30px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.steps-container .active {
    background-color: rgba(108, 99 ,255,0.8);
    color: #fff;
}

.steps-container a:hover .number {
    background-color: #1D2521;
    color: #fff;
}

.steps-container a {
    color: gray;
}

    /* todo = MENU BANNER STYLING */
.menu-banner {
    background-color: rgba(148, 148, 148,0.1);
    width: 100%;
    height: 150px;
}

    /* todo = RESTAURANT STYLING */
.restaurant-container {
    /* background-color: yellowgreen; */
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 15px;
    padding-left: 50px;
    gap: 150px;
}

.rest-svg-block {
    width: 300px;
    margin-top: 30px;
}

/* .top-txt {
    position: relative;
    background-color: #f22;
}

.top, .restaur, .ants {
    position: absolute;
    color: rgba(108, 99 ,255,0.3);
}

.top {
    top: -14px;
    left: 15px;
    display: inline-block;
    padding-left: 40px;
    transform: skewY(-12deg);
}

.restaur {
    top: -20px;
    left: 76px;
    display: inline-block;
    transform: skewY(13deg);
    padding-left: 30px;
}

.ants {
    top: -10px;
    left: 169px;

    display: inline-block;
    transform: skewY(-13deg);
    padding-left: 20px;
} */

.map-svg {
    width: 100%;
}

.restaurant-block {
    border: 1px solid #eaebeb;
    border-radius: 5px;
    width: 700px;
    margin-bottom: 20px;
}

.rest-header {
    background-color: rgba(148, 148, 148,0.1);
    color: #1D2521;
    padding: 10px 15px;
    border-bottom: 1px solid #eaebeb;
}

.rest-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.details-block {
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
}

.image-block {
    /* background-color: #000; */
    width: 120px;
    overflow: hidden;
}

.rest-image {
    max-width: 100%;
}

.text-block {
    color: gray;
}

.txt {
    color: #1D2521;
}

.rest-button {
    margin-top: 30px;
    margin-right: 20px;
}

.view-menu {
    background-color: #1D2521;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: .9rem;
    transition: .5s;
}

.view-menu:hover {
    background-color: rgb(108, 99 ,255);
}

    /* todo = DISHES STYLING */
.dishes-banner {
    background-color: rgba(148, 148, 148,0.1);
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
}

.dish-rest-logo {
    width: 200px;
    margin-left: 100px;
}

.dish-rest-details {
    margin-bottom: 75px;
    padding-left: 30px;
    color: gray;
}

.dish-rest-details a {
    color: #1D2521;
}

.dish-container {
    /* background-color: rgba(148, 148, 148,0.3); */
    width: 100%;
    padding: 45px 50px;
    display: flex;
    gap: 150px;
}

/* CART STYLING */
.dish-cart {
    /* background-color: #f05; */
    width: 290px;
    height: max-content;
    border: 1px solid #eaebeb;
    border-radius: 5px;
}

.d-cart-header {
    background-color: rgba(148, 148, 148,0.1);
    color: #1D2521;
    padding: 10px 15px;
    border-bottom: 1px solid #eaebeb;
}

.cart-icon {
    position: relative;
    top: 3px;
}

.padd {
    padding: 20px 0;
    border-bottom: 1px solid #eaebeb;
}

.cart-dish-name {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 5px 15px;
}

.cart-dish-values {
    display: flex;
    padding: 0px 15px 25px 15px;
}

.dish-cart-price, .dish-cart-qty {
    border: 1px solid #eaebeb;
    background-color: rgba(148, 148, 148,0.3);
    padding: 7px 10px;
}

.dish-cart-price {
    width: 200px;
    border-right: none;
}

.dish-cart-qty {
    width: 50px;
}

.d-cart-body {
    /* background-color: rgba(148, 148, 148,0.1); */
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    line-height: 30px;
}

.rupees {
    margin-bottom: 10px;
}

.free-d {
    margin-bottom: 15px;
}

.checkout {
    background-color: #1D2521;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;   
}

.d-cart-body .disabled {
    pointer-events: none;
    opacity: 0.65;
}

.empty-cart {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    opacity: 0.50;
}

    /* DISHES MENU */
.dish-details {
    width: 650px;
    height: max-content;
    border: 1px solid #eaebeb;
    border-radius: 5px;
}

.dish-header {
    background-color: rgba(148, 148, 148,0.1);
    color: #1D2521;
    padding: 10px 15px;
    border-bottom: 1px solid #eaebeb;
}

.dish-body-details {
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.dish-image-block {
    /* background-color: #000; */
    width: 100px;
}

.dish-text-block {
    /* background-color: #fff; */
    /* padding-right: 170px; */
    width: 400px;
    margin-left: 25px;
}

.rtng2 {
    font-size: 0.60rem;
    padding: 2px 4px;
}

.star-icon {
    margin-left: 2px;
    top: .5px;
}

.dish-price {
    padding-top: 10px;
}

.dish-qty-block {
    border: 1px solid #eaebeb;
    border-radius: 5px;
    width: max-content;
}

.minus-style, .plus-btn, .dish-qty {
    border: none;
    background-color: transparent;
}

.minus-style, .plus-btn {
    cursor: pointer;
    width: 20px;
}

.minus-style {
    padding-left: 3px;
}

.plus-btn {
    padding-right: 3px;
}

.dish-qty {
    width: 35px;
    text-align: center;
}

.add-block {
    background-color: #1D2521;
    margin-top: 10px;
    width: max-content;
    padding-right: 5px;
    border-radius: 5px;
}

.add-btn {
    color: #fff;
    display: inline-block;
    padding: 5px 0px 5px 15px;
    background-color: transparent;
    border: none;
}

.add-icon, .add-btn, .add-block {
    cursor: pointer;
}

    /* todo = CHECKOUT STYLING */
.container {
    max-width: 1270px;
    width: 94%;
}

.btm-brdr {
    border-bottom: 1px solid #eaebeb;
}
.secure-text h1{
    text-transform: uppercase;
    font-size: 5.45rem;
    color: rgba(148, 148, 148,0.2);
    writing-mode: vertical-rl;
    position: absolute;
    left: -30px;
    height: max-content;
    padding-top: 5px;
    z-index: -1;
}

.checkout-container {
    /* background-color: #f2f; */
    width: 90%;
    padding-top: 20px;
    margin-left: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
}

.auth-svg-block {
    /* background-color: yellow; */
    width: 450px;
}

.auth-svg {
    max-width: 100%;
}

.order-summary-block {
    width: 650px;
    margin-top: 30px;
    margin-bottom: 130px;
    border: 1px solid #eaebeb;
    border-radius: 5px;
}

.order-summary-hdr {
    background-color: rgba(148, 148, 148,0.1);
    padding: 10px 20px;
}

.item-total-block, .delivery-fee-block {
    display: flex;
    padding-left: 35px;
}

.item-total-block {
    gap: 65%;
    padding-top: 25px;
    padding-bottom: 10px;
}

.delivery-fee-block {
    gap: 63%;
    padding-top: 5px;
    padding-bottom: 30px;
}

.line-block {
    width: 530px;
    height: 1px;
    background-color: rgba(148, 148, 148,0.1);
    margin-left: 35px;
}

.to-pay-block {
    display: flex;
    gap: 69%;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 35px;
}

.payment-block {
    /* background-color: #ff9; */
    padding: 20px;
}

.cod-label, .atm-label {
    display: block;
    padding-bottom: 10px;
}

.cod-label {
    margin: 5px 0;
}

.cod-input, .atm-input {
    padding-left: 30px;
}

.cod-label span {
    padding-left: 12px;
}

.atm-label span {
    padding-left: 17px;
}

.cod-dropdown {
    background-color: rgba(108, 99 ,255,0.1);
    width: 540px;
    font-size: 0.85rem;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    word-spacing: .15rem;
    border-radius: 5px;
    display: none;
}

.atm-dropdown {
    position: relative;
    width: 420px;
    background-color: rgba(148, 148, 148,0.1);
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 5px;
    display: none;
}

.dropdown-details {
    width: 90%;
    /* background-color: pink; */
    padding: 25px;
    font-size: 0.9rem;
}

.dropdown-details input{
    display: block;
    margin-bottom: 10px;
    border: none;
}

.dropdown-details input::placeholder {
    color: gray;
    text-transform: none;
    opacity: 0.8;
}

.dropdown-details input:focus {
    outline: none;
}

.crd-hldr, .crd-nmbr, .crd-dte, .crd-cvv {
    padding-left: 5px;
    color: #6c63ff;
}

.crd-hldr {
    text-transform: uppercase;
    word-spacing: 5px;
}

.crd-nmbr {
    letter-spacing: 0.2rem;
    padding-left: 5px;
    width: 220px;
}

.crd-dte {
    width: 90px;
}

.crd-cvv {
    width: 70px;
    letter-spacing: 3px;
}

.debit-card {
    position: absolute;
    top: -4px;
    right: -120px;
    /* background-color: #1d2521; */
    width: 280px;
    border-radius: 10px;
}

.visa {
    width: 100%;
}

.payment-btn {
    padding-top: 20px;
    padding-bottom: 10px;
    
}

.p-btn {
    position: relative;
    left: 25%;
    background-color: #1D2521;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 10px 100px;
    cursor: pointer;
}

