:root {
    --header-height: 3rem;
    /* COLORS */
    --main-color: #1D2521;
    --secondary-color: #6c63ff;
    /* --text-color: #C7D1CC; */
    --text-color: #1D2521;
  
  
}

/* .admin-hb-logo {
    color: var(--text-color);
    font-family: 'Bangers', cursive;
    cursor: default;
    font-size: 2.25rem;
    padding-top: 5px;
    padding-left: 30px;
} */

.header {
    /* background-color: #f4f4f4; */
    /* background-color: rgba(148, 148, 148,0.1); */
    /* background-image: url(../images/menu-bg.jpg); */
    width: 100%;
    padding:10px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 500;
}

.hdr-container {
    /* background: red; */
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.main-logo {
    /* background: pink; */
    width: 300px;
    height: 2.5rem;
    font-size: 2.25rem;
    text-align: center;
    line-height: 2.25rem;
}

.hb-logo{
    color: var(--text-color);
    font-family: 'Bangers', cursive;
    cursor: default;
}

.spoon-icon {
    color: var(--text-color);

}

.num-clr {
    color: #6c63ff;
}

.pntr {
    cursor: default !important;
}

.hvr:hover {
    box-shadow: 0 0 20px 0 rgba(108, 99, 255, 0.2), 0 5px 5px 0 rgba(108, 99, 255, 0.24);
}
